@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-container {
    min-height: calc(105vh - theme('spacing.24'));
  }
  @variants responsive {
    .border-1 {
      border-width: theme('spacing[0.5]');
    }
    .border-b-1 {
      border-bottom-width: theme('spacing[0.5]');
    }
    .border-l-1 {
      border-left-width: theme('spacing[0.5]');
    }

    .border-r-1 {
      border-right-width: theme('spacing[0.5]');
    }
  }
  .min-h-inherit {
    min-height: inherit;
  }
  .max-h-100vh {
    max-height: calc(105vh - theme('spacing.24'));
  }
  .max-h-inherit {
    max-height: inherit;
  }
}
